.footer {
  padding: 22px 0;
  padding-bottom: 30px;

  @media (min-width: $medium-width) {
    padding: 40px 0 40px;
  }
}

.footer__container {
  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: -11px;
  }

  @media (min-width: $large-width) {
    padding-top: 10px;
    grid-template-columns: 318px 318px 318px;
    gap: 30px;
  }
}

.footer__container-big {
  @media (min-width: $large-width) {
    display: flex;
  }
}
