.main-features {
  display: flex;
  justify-content: space-between;
}

.main-features__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.main-features__title--color {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(to right, #fcb045, #ff3f78);
  color: #e4e5ea;
}

.main-features__title-text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
