.page-body {
  min-height: 100%;
  max-width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  color: $white-color;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page-body__balls {
  position: absolute;
  z-index: -1;

  &--purple {
    top: 0;
    left: 64%;
    width: 94px;
    height: 81px;
    background-image: url("data:image/svg+xml,%3Csvg width='94' height='81' viewBox='0 0 94 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_bdf_0_14)'%3E%3Ccircle cx='44' cy='28' r='30' fill='url(%23paint0_radial_0_14)' fill-opacity='0.8' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bdf_0_14' x='0' y='-13' width='94' height='94' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='2'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_0_14'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='10' operator='erode' in='SourceAlpha' result='effect2_dropShadow_0_14'/%3E%3CfeOffset dx='3' dy='6'/%3E%3CfeGaussianBlur stdDeviation='13.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.694118 0 0 0 0 0.462745 0 0 0 0 0.85098 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='effect1_backgroundBlur_0_14' result='effect2_dropShadow_0_14'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_0_14' result='shape'/%3E%3CfeGaussianBlur stdDeviation='5' result='effect3_foregroundBlur_0_14'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial_0_14' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(30.35 13.9) rotate(51.0412) scale(49.3828)'%3E%3Cstop stop-color='%23ECD0FF' stop-opacity='0.8'/%3E%3Cstop offset='0.596678' stop-color='%23A15DCF' stop-opacity='0.3'/%3E%3Cstop offset='0.785899' stop-color='%237631A4' stop-opacity='0.26'/%3E%3Cstop offset='1' stop-color='%23561880' stop-opacity='0.29'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E ");
  }

  &--red {
    top: 60px;
    left: 33%;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='117' height='117' viewBox='13 10 117 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_bd_0_13)'%3E%3Ccircle cx='55.5' cy='52.5' r='41.5' fill='url(%23paint0_radial_0_13)' fill-opacity='0.8' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bd_0_13' x='0' y='0' width='117' height='117' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='2'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_0_13'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='10' operator='erode' in='SourceAlpha' result='effect2_dropShadow_0_13'/%3E%3CfeOffset dx='3' dy='6'/%3E%3CfeGaussianBlur stdDeviation='13.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.87451 0 0 0 0 0.490196 0 0 0 0 0.490196 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='effect1_backgroundBlur_0_13' result='effect2_dropShadow_0_13'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_0_13' result='shape'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial_0_13' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(36.6175 32.995) rotate(51.0412) scale(68.3129)'%3E%3Cstop stop-color='%23FFD0D0' stop-opacity='0.67'/%3E%3Cstop offset='0.596678' stop-color='%23D45D5D' stop-opacity='0.33'/%3E%3Cstop offset='0.785899' stop-color='%23A73131' stop-opacity='0.31'/%3E%3Cstop offset='1' stop-color='%23821919' stop-opacity='0.31'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  }

  &--red-small {
    left: 651px;
    top: 547px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_bdf_0_12)'%3E%3Ccircle cx='28' cy='25' r='14' fill='url(%23paint0_radial_0_12)' fill-opacity='0.8' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_bdf_0_12' x='0' y='0' width='62' height='62' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='2'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_0_12'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='10' operator='erode' in='SourceAlpha' result='effect2_dropShadow_0_12'/%3E%3CfeOffset dx='3' dy='6'/%3E%3CfeGaussianBlur stdDeviation='13.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.87451 0 0 0 0 0.490196 0 0 0 0 0.490196 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='effect1_backgroundBlur_0_12' result='effect2_dropShadow_0_12'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_0_12' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2.5' result='effect3_foregroundBlur_0_12'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial_0_12' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(21.63 18.42) rotate(51.0412) scale(23.0453)'%3E%3Cstop stop-color='%23FFD0D0' stop-opacity='0.6'/%3E%3Cstop offset='0.596678' stop-color='%23D45D5D' stop-opacity='0.31'/%3E%3Cstop offset='0.785899' stop-color='%23A73131' stop-opacity='0.33'/%3E%3Cstop offset='1' stop-color='%23821919' stop-opacity='0.29'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
}

.page-body__balls-light {
  position: absolute;
  z-index: -1;

  &--purple {
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;

    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
  }

  &--red {
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }
}
