// Viewports

$large-width: 1140px;
$medium-width: 768px;
$small-width-only: 767px;

//colors

$white-color: #e4e5ea;
$black-color: #333333;
$background: #0e1014;
$button: #4077f3;

$lavander-line: #f0ebff;
$menu-color: #7859cf;
$flat-white: #f3ebe1;
$lavander: #eae6fc;
$espresso: #e5e6e8;
$button-hover: #9070ec;
$button-active: #593cac;
$button-disabled: #bdbdbd;
$scale: #e2e2e2;
$background-catalog: #f8f8f8;
$sort-hover: #f0ebff;
$range-disabled: #bdbdbd;

// resolution
$retina-resolution: 2dppx;
